@import "tailwindcss";

body {
  /* Fundo escuro profundo e texto claro */
  @apply bg-slate-950 text-slate-100;
  margin: 0;
  padding-bottom: 80px;
}

/* Custom Scrollbar para ficar bonito no dark mode */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0f172a; 
}
::-webkit-scrollbar-thumb {
  background: #334155; 
  border-radius: 4px;
}